.skillsBlock {
    min-height: 100vh;
    /*background-color: darkseagreen;*/
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    /*background-color: #6d56c1;*/
    font-family: 'Roboto', monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*min-height: 100vh;*/
}
