.mainBlock::before {
    background: linear-gradient(54deg,
    rgba(74, 76, 179, .95) 34%,
    hsla(0, 34%, 71%, .95));
    content: "";
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.mainBlock {
    min-height: 600px;
    background: url("Photo/2022-01-08 16.50.49.jpg") center;
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin-right: -15px;
    margin-left: -15px;
}

.text {
    color: #fff;
    width: 500px;
    height: 400px;
    font-family: 'Roboto', monospace;
    text-align: left;
    z-index: 1;
}

.photo {
    width: 500px;
    height: 600px;
    background-color: azure;
    background-image: url("Photo/2022.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.bold {
    font-weight: bold;
}